.search {
    max-width: 180px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr .20fr;
    justify-content: center;
    margin-top: 1.5em;
    
    
}

.search__input {
    border: none;
    background-image: url('/src/assets/image/tunne.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    border-radius: 7px 0 0 7px;
    padding: .58em .5em;
    outline: none;
    
}

.search__btn {
    border: none;
    border-radius: 0 7px 7px 0;
    background-color: rgba(221, 221, 67, 0.651);
    
    padding: .58em 3em;
    font-family: Faculty Glyphic, sans-serif;
    font-size: 14px;
    padding: .7em;
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
    &:hover {
        transition: 1.6s;
        transform:translate(-20px);
        background-color: #41c404ef;
    }
    }
   

.message__error {
    font-size: 15px;
    text-align: center;
    font-family: Faculty Glyphic, sans-serif;
    
   

    
    
    
}





