:root {
  font-size: 16px;
  font-weight: 400;
}

html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  background: linear-gradient(75deg, gray, black, green); 
  color: white;
}

